{
  box-sizing: border-box;
}
body {
  background-image: url('/pictures/676532.jpg' );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ccdcff;
  margin: 0;
;

}
h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
h2 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
h3 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 1;
  padding: 0;
  overflow: hidden;
  background-color: LightGray ;
  opacity: 0.65;
  border: 4px solid black;
  border-style: outset;
}

li {
  float: left;
  border-right:1px solid black;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #1121;
}

.active {
  background-color: #04AA226D;
}




.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  opacity: 0.6;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  opacity: 0.6;
}

.button1:hover {
  background-color: #555555;
  color: black;
  opacity: 0.6;
}



div.desc {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  padding: 30px;
  text-align: center;
}

* {
  box-sizing: border-box;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: red;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}



/* Create three equal columns that floats next to each other */
.gvol-2 {
  float: left;
  width: 33.3%;
  padding: 41px;
}

/* Clear floats after the columns */
.gvol-1::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .gvol-2 {
    width: 100%;
  }
}

